*{
    margin: 0px;
    padding: 0px;
    font-family:Arial;
    border:border-box;
}

.navbar{
    height:60px;
   display: flex;
   align-items: center;
}


.sign{
    height:30px;
    width:80px;
    background-color:red;
    border-radius:5px;
    text-align:center;
    margin:5px 0px 0px 850px; 
    color:white; 
}
h1{
    height:70px;
    width:1000px;   
    color:#ffffff;
    margin:250px 0px 0px 420px;
     font-size: 40px;
}
.two{
    height:40px;
    width:600;
    margin:0px 0px 0px 600px;
    color:#ffffff;
    font-size: 20px;
    
}
h3{
    height:50px;
    width:1000px;
    margin:0px 0px 0px 400px;
    color:#ffffff;
    font-size: 33;
}

.search{
    height:60;
    width:300;
    margin:0px 0px 0px 500px;
    font-size: 20px;
    padding:10px;
    border-radius: 5px;
    
}
.submit{
    height:60;
    width:300;
    font-size: 20px;
    padding:10px;
    border-radius: 10px;
    background-color: red;
}
h2{
    color:red;
    margin:25px 0px 0px 150px;
    font-size: 50px;
}
.box1{
    height:600px;
    background-color: black;
    display:flex;
    
}
.boxtv{
    height:400px;
    width:500px;
    background-color:black;
    margin:100px 0px 0px 300px;
    background-image: url(tv.png);
    background-size: cover;
    
}

    .box2{
        height:192px;
        width:450px;
        background-color:black;
        text-align: center;
        margin:200px 0px 0px 50px;
        color:white;
        

    }
h4{
    font-size: 50px;

}
h5{
    font-size: 30px;
    margin-top:30px;
}
.second{
    height: 500px;
    background-color: black;
    display:flex;
}
.line{
    height:10px;
    background-color: darkslategrey;
}
.image{
    height:400px;
    width:500px;
    background-color: black;
    margin:50px 0px 0px 30px;
    background-image: url("phone.jpeg");
    background-size: cover;
}
.text2{
    height:200px;
    width:400px;
    background-color:black;
    margin:100px 0px 0px 300px;
}
.head{
    font-size: 10px;
    color:red;
}
h6{
    font-size: 30px;
    color:white;
    text-align: center;
}
.parra{
    font-size:10;
    color:white;

}
.line2{
    height:10px;
    background-color: darkslategrey;
}
.kid{
    height:500px;
    background-color: black;
    display:flex;
}
.kid2{
    height:300px;
    width:500px;
    background-color:black;
    margin:100px 0px 0px 50px;
    background-image: url("kid.png");
    background-size: cover;
}
.kid3{
    height:300px;
    width:500px;
    background-color: black;
    margin:100px 0px 0px 150px;
}
.kidh{
    color:white;
}
.kidp{
    color:white;
    font-size: 25px;
}
.line3{
    height:10px;
    background-color: darkslategrey; 
}
.question{
    height:1000px;
    background-color: black;
    padding-top: 100px;
    
}

.line4{
    height:10px;
    background-color: darkslategrey; 
}
.box4{
    height:400px;
    background-color: black;
    padding-top: 72px;

}
.box5{
    height:250px;
    width:500px;
    background-color:black;
    margin-left: 250px;
}
.first1{
    color:white;

}
.first2{
    color:white;
    font-size: 25px;
}
.inner{
    height: 900px;
    width: 900px;background-color:black;
    margin-left: 300px;
}
.inner1{
    color:#ffffff;
  padding-top: 50px;
}
.but1{
    background-color:black;
    height:50px;
    width:700px;
    margin-left: 100px;
    padding-top: 50px;
}
.but2{
    background-color:black;
    height:50px;
    width:700px;
    margin-left: 100px;
    padding-top: 50px;
}
.but3{
    background-color: black;
    height:50px;
    width:700px;
    margin-left: 100px;
    padding-top: 50px;
}
.but4{
    background-color: black;
    height:50px;
    width:700px;
    margin-left: 100px;
    padding-top: 50px;
}
.but5{
    background-color: black;
    height:50px;
    width:700px;
    margin-left: 100px;
    padding-top: 50px;
}
.but6{
    background-color:black;
    height:50px;
    width:700px;
    margin-left: 100px;
    padding-top: 50px;
}


.one1{
    width:700px;
    height:70px;
    background-color:darkslategrey ;
    align-items: center;
    text-align: left;
    font-size: 30px;
    color:white;
    
}
.one2{
    width:700px;
    height:70px;
    background-color:darkslategrey ;
    align-items: center;
    align-items: center;
    text-align: left;
    font-size: 30px;
    color:white;
    
}
.one3{
    width:700px;
    height:70px;
    background-color:darkslategrey ;
    align-items: center;
    align-items: center;
    text-align: left;
    font-size: 30px;
    color:white;
    
}
.one4{
    width:700px;
    height:70px;
    background-color:darkslategrey ;
    align-items: center;
    align-items: center;
    text-align: left;
    font-size: 30px;
    color:white;
    
}
.one5{
    width:700px;
    height:70px;
    background-color:darkslategrey ;
    align-items: center;
    align-items: center;
    text-align: left;
    font-size: 30px;
    color:white;
    
}
.one6{
    width:700px;
    height:70px;
    background-color:darkslategrey ;
    align-items: center;
    align-items: center;
    text-align: left;
    font-size: 30px;
    color:white;
    
}
.but7{
    background-color:black;
    height:30px;
    width:700px;
    margin-left: 100px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}
.input7{
    height:60px;
    width:700px;
    margin-top: 10px;
    margin-left: 150px;
    background-color: black;
}
.search1{
    margin-left: 80px;
    height:45px;
    width:300px;
    border-radius: 5px;
    align-items: center;
    font-size: 20px;
}
.submit1{
height:50px;
width:100px;
border-radius: 5px;
background-color: red;
font-size: 15px;
color:white;
}
.but{
    color:white;
    font-size: 20px;
}
.main{
    height:700px;
    background-image: url("background.png");
    background-size: cover;
}
.line4{
    height:10px;
    background-color: darkslategrey; 
}

.footer{
height:500px;
background-color: black;
padding-top: 70px;

}
.footer1{
    height:32px;
    width:800px;
    background-color: black;
    margin-left: 200px;
    font-size: 20px;
    color:white;
   
    
}
.footer2{
    height:200px;
    width:1000px;
    background-color: black;
    margin-top: 20px;
    margin-left: 150px;
    display: flex;
    font-size: 20px;
    color:white;
    

}
.footer3{
    height:50px;
    width:900px;
    background-color: black;
    margin-top: 30px;
    margin-left: 200px;
}
.footer4{
    height:60px;
    width:900px;
    background-color:black;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 20px;
    color:white;

}
.list1 li{
    margin-bottom: 15px;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 25px;
   
    
   
}
.list2 li{
    list-style-type: none;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 15px;
  
}
.list3 li{
    list-style-type: none;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 15px;
}
.list4 li{
    list-style-type: none;
     margin-top: 20px;
     margin-left: 25px;
     margin-bottom: 15px;
}
.select1{
    height:50px;
    width:200px;
    font-size: 20px;
    border-radius: 5px;
    background-color: darkslategrey; 
    color:white;
    
}

a{
    color:white;
}
a:hover{
    color:red;
}
@media only screen and (max-width:600px){
    body{
        font-size: 14px;
    }
    h2,.sign{
        font-size: 14px;
        size: 14px;

    }


}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div.navbar{
        height:100px;
        width: 50%;
    }
    div.navbar h2{
        border: 5px solid black;
        font-size: 60px;
    }
    input.sign{
        border:4px solid green;
        height:90px;
        width: 200px;
    }
    input{
        width: 200px;
        /* padding:40px; */
        padding:10px 40px 10px 40px;
        height: 60%;
        align-items: center;
    }
    input.sign[type="text"] {
        font-size: 30px; /* Increase this value to make the text larger */
        padding: 10px;   /* Optional: Adjust padding to make the input box itself larger */
    }
    .search{
        border:5px solid red;
        width: 20%;
        height: 30px;
    }
    .submit{
        border:5px solid red;
        width: 20%;
        height: 50px;
    }
}

